@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:wght@300;500&display=swap");

@font-face {
  font-family: ProstoOne;
  src: url("../fonts/ProstoOne-Regular.ttf");
}
@font-face {
  font-family: Righteous;
  src: url("../fonts/Righteous-Regular.ttf");
}

:root {
  --ProstoOne: ProstoOne;
  --Righteous: Righteous;
  --Courgette: "Courgette", cursive;
  --Raleway: "Raleway", sans-serif;
  --bgWhite: #fff;
  --bgBlack: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}
/* Loader style start */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 10000;
  opacity: 1;
  transition: all 0.5s ease;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: anim 0.5s infinite linear;
}
@keyframes anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load::after {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 50%;
}
.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
}
/* Loader style end */

/* Header section style start */
.home {
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/me_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgWhite);
  opacity: 15%;
  z-index: 1;
}

/* nav-bar menu style start*/
.navbar-menu__btn {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 60px;
  height: 50px;
  border: 2px solid orange;
  background-size: 56px 45px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 2px;
  background-color: #000;
  transition: all 0.5s ease;
}
.open {
  background-image: url("../icons/menu_white.png");
}
.close {
  background-image: url("../icons/close_white.png");
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.8s ease;
}
.nav-menu__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-menu__lists .navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  font-size: 2.2em;
  font-family: var(--ProstoOne);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #76369b;
  transition: all 0.8s ease;
}
.navbar-list:hover {
  color: #6f00aa;
}
.navbar-list img {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  filter: invert(10%);
}
.navbar-list:hover img {
  filter: invert(35%);
}
.active {
  border-bottom: 2px solid rgb(255, 153, 0);
  transform: scale(1.1);
}
/* nav-bar menu style end*/

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  height: 100%;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: 40px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
}
.home__title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__title h1 {
  display: flex;
  color: var(--bgWhite);
  font-size: 3.6em;
  font-family: var(--Raleway);
}
.brief_bg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 320px;
  height: 60px;
  align-items: center;
  border-radius: 3px;
  padding: 3px;
  color: #000;
  background: rgb(117, 6, 243);
  overflow: hidden;
}
.brief_text {
  margin: 15px 0;
  transform: translateY(0);
  animation: textAuto 3s linear infinite alternate;
}

@keyframes textAuto {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-220px);
  }
}
.btns {
  margin-top: 40px;
}
.btns a {
  text-decoration: none;
  font-size: 1.6em;
  font-family: var(--Raleway);
  font-weight: 400;
  color: #fff;
  margin: 0 20px;
  padding: 8px 40px;
  border-radius: 3px;
  transition: 0.6s ease;
}
.btns .btn_login {
  border: 2px solid black;
}
.btns .btn__signup {
  border: 2px solid black;
}
.btns .btn_login:hover {
  border: 2px solid orange;
  background-color: orange;
}
.btns .btn__signup:hover {
  border: 2px solid orangered;
  background-color: orangered;
}

.home__title img {
  margin: 20% 0 -20% 0;
  width: 200px;
  height: 80px;
  cursor: pointer;
}
/* Header section style end */

/* Top btn style start */
.top {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 70px;
  border-radius: 4px;
  background-color: #000;
  border: 1px solid rgb(24, 24, 24);
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
}
.top img {
  width: 30px;
  height: 30px;
  animation: topAnimate 2s linear infinite;
}
@keyframes topAnimate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-45px);
  }
}
.top_title {
  color: #fff;
  font-size: 1.2em;
  font-family: sans-serif;
}
/* Top btn style end */

/* About me section style start */
.about {
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  min-height: 100vh;
  background: var(--bgBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about__me {
  margin: 0 10px;
  width: 48%;
  height: 560px;
  background: rgba(85, 85, 85, 0.259);
  border-radius: 15% 1.5% 1.5% 1.5%;
}
.me {
  width: 100%;
  height: 155px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.me img {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  z-index: 10;
  transition: all 0.5s ease;
}
.me img:hover {
  filter: sepia(40%);
}
.me__title {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.me__title p,
.me__title h2,
.me__title h4 {
  position: absolute;
  right: 10%;
}
.me__title p {
  color: var(--bgWhite);
  font-size: 2rem;
  top: 10px;
  font-family: var(--Raleway);
}
.me__title h2 {
  top: 40px;
  color: var(--bgWhite);
  font-size: 3.6rem;
  font-family: var(--ProstoOne);
}
.me__title h4 {
  top: 100px;
  color: var(--bgWhite);
  font-size: 1.8rem;
  font-family: var(--Righteous);
  font-weight: 400;
}

/* Information about me style */
.brief__about_me {
  position: relative;
  width: 90%;
  height: 330px;
  display: flex;
  margin-left: 30px;
  margin-top: 60px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.information__about_me {
  position: absolute;
  top: 10px;
  color: rgb(117, 6, 243);
  font-size: 2em;
  font-weight: 500;
  font-family: var(--ProstoOne);
}
.brief__text {
  font-size: 1em;
  position: relative;
  text-align: center;
  font-family: var(--Raleway);
  letter-spacing: 5px;
  word-spacing: 6px;
  font-weight: 600;
  color: #fff;
}

.fade {
  animation: animate1 3s;
}

@keyframes animate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade1 {
  animation: animate2 0.3s;
}

@keyframes animate2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TSiklis style */
.me__siklis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: 560px;
  background: rgba(85, 85, 85, 0.363);
  border-radius: 10px;
  margin: 0 10px;
}
.me__siklis h1 {
  position: absolute;
  top: 40px;
  font-size: 2rem;
  font-family: var(--Righteous);
}
.siklis {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.siklis img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid orange;
  border-radius: 10px;
  background: #f1f1f1;
}
.tskil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #fff;
}
.totale {
  z-index: 1;
  color: #fff;
  font-size: 1.6rem;
  font-family: sans-serif;
}
.prosent {
  top: 0;
  left: 0;
  border-radius: 2px;
  position: absolute;
  width: 0%;
  height: 100%;
  background: violet;
  z-index: 0;
}
/* About me section style end */

/* Portfolio section style start */
.portfolio {
  border-top: 1px solid #fff;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: #000;
  overflow: hidden;
}
.portfolio__title {
  color: #fff;
  font-family: var(--Courgette);
  font-size: 2.6rem;
  text-align: center;
}
.portfolio__content {
  margin-top: 25px;
  position: relative;
  width: 98%;
  min-height: 400px;
  display: flex;
  border: 2px solid black;
  transition: all 0.5s ease;
}
.portfolio__item__menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: #fff;
  top: -22.5px;
  left: 20px;
}
.item__btn {
  margin: 0px 10px;
  font-family: var(--ProstoOne);
  font-size: 1.4em;
  cursor: pointer;
  background: #000;
  padding: 5px;
  transition: all 0.5s ease;
}
.item__btn:hover {
  color: lightcyan;
}
.item__btn-active {
  border-radius: 2px;
  background: red;
}
.item__btn-inactive {
  border: none;
}
.portfolio__items {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.flex_d {
  display: flex;
}
.none_d {
  display: none;
}
.block_d {
  display: block;
}
.portfolio__item {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 3px;
  margin: 5px 5px;
  transition: all 1s ease;
  border: 2px solid rgb(31, 30, 30);
}
.my__portfolio__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0008;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease;
}
.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: var(--Courgette);
}
.my__portfolio__img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}
.portfolio__item:hover .my__portfolio__link {
  opacity: 1;
}
.portfolio__item:hover .my__portfolio__img {
  transform: scale(1.2);
}
/* Portfolio section style end */

/* Footer section style start */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background: rgb(0, 0, 0);
}
.contact_me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.contact_me .contact {
  width: 60px;
  height: 60px;
  background: #000;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.contact_me .contact img {
  width: 100%;
  height: 100%;
  filter: invert(1);
  border-radius: 50%;
  transition: all 0.8s ease;
}
.contact_me .contact:hover img {
  filter: invert(0);
  background: #fff;
}
.contact_this {
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 60px;
  background: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 5px;
}
.contact_this img {
  position: absolute;
  filter: invert(1);
  left: -25px;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
}
.cont_this {
  color: #fff;
  font-family: var(--Raleway);
  font-size: 1.2em;
}
.footer_text {
  color: #fff;
  font-size: 1.3em;
  font-family: var(--Raleway);
  font-weight: 200;
}
/* Footer section style end */

/* Notfication style start */
.notfication {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100000000000;
}
.nftShow {
  transform: translateX(0);
}
.nftHide {
  transform: translate(200%);
}
.success,
.error {
  display: flex;
  position: fixed;
  top: 20px;
  right: 15px;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 80px;
  background-color: #42d887;
  border-radius: 5px;
  transition: all 0.8s ease-in;
}
.correct,
.cancel {
  margin: 0 20px;
  width: 40px;
  height: 40px;
  filter: invert(1);
}
.danger_title {
  font-family: sans-serif;
  color: #fff;
  text-transform: capitalize;
}
.danger_title h3 {
  font-size: 1.4em;
  font-weight: 600;
}
.danger_title p {
  font-size: 0.9em;
}
.close_notfication {
  position: absolute;
  width: 15px;
  height: 15px;
  filter: invert(1);
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.error {
  background-color: #fa4414;
}
/* Notfication style end */

/* Sardor || Uroqov website responsive */

@media (max-width: 970px) {
  /* About me */
  .about {
    flex-direction: column;
  }
  .about__me {
    margin: 10px;
    width: 98%;
  }
  .me__siklis {
    width: 98%;
    margin: 10px;
  }
}
@media (max-width: 860px) {
  /* Header section */
  .home__title h1 {
    font-size: 2.6rem;
  }
  .brief_bg {
    width: 245px;
  }

  /* About me */
  .me__title p {
    font-size: 1.8rem;
  }
  .me__title h2 {
    font-size: 2.6rem;
  }
  .me__title h4 {
    font-size: 1.6rem;
  }
  .brief__about_me {
    margin-top: 5px;
    padding: 1px;
  }
  .information__about_me {
    top: 40px;
    font-size: 1.8em;
  }
  .me__siklis h1 {
    font-size: 1.8rem;
  }
  /* Portfolio */
  .portfolio__title {
    font-size: 2.4rem;
  }
  .portfolio__item {
    width: 300px;
  }
}
@media (max-width: 656px) {
  .portfolio__item {
    width: 500px;
  }
}

@media (max-width: 512px) {
  /* Header section */
  .home__title h1 {
    font-size: 1.8rem;
  }
  .brief_bg {
    width: 170px;
    height: 40px;
  }
  .btns {
    margin-top: 36px;
  }
  .home__title img {
    margin: 80% 0 -120% 0;
    width: 160px;
    height: 80px;
  }
  /* Navbar menu */
  .nav-menu__lists .navbar-list {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  /* Header section */
  .btns a {
    font-size: 1rem;
    margin: 0 0px;
    padding: 8px 30px;
  }

  /* Navbar menu */
  .navbar-menu__btn {
    width: 38px;
    height: 39px;
    background-size: 34px 36px;
  }

  /* About me */
  .about__me {
    border-radius: 1.5%;
  }
  .me img {
    display: none;
  }
  .me__title p,
  .me__title h2,
  .me__title h4 {
    position: static;
    text-align: center;
  }
  .me__title h2 {
    font-size: 2.2rem;
  }
  .information__about_me {
    top: -6px;
    font-size: 1.4em;
  }
  .brief__text {
    font-size: 0.95rem;
  }
  .siklis img {
    width: 40px;
    height: 40px;
  }
  .tskil {
    width: 230px;
  }

  /* Portfolio */
  .portfolio__title {
    font-size: 2rem;
  }
  .item__btn {
    font-size: 1.2rem;
  }
  .top {
    width: 40px;
    height: 55px;
  }
  .top img {
    height: 20px;
    width: 20px;
  }
  .top_title {
    font-size: 1rem;
  }

  /* Footer section */
  footer {
    height: 20vh;
  }
  .contact_me .contact {
    width: 35px;
    height: 35px;
  }
  .footer_text {
    font-size: 1rem;
  }
  .contact_this {
    width: 249px;
    height: 40px;
  }
  .contact_this img {
    width: 35px;
    height: 44px;
  }
  .cont_this {
    font-size: 1em;
  }
}
